.loader{

position:fixed;

inset:0;

background:#07170F;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

z-index:99999;

animation:fadeOut .8s ease forwards;

animation-delay:1.8s;

}

.loader-logo{

font-size:4rem;

font-family:"Cormorant Garamond",serif;

font-weight:700;

color:white;

letter-spacing:3px;

}

.loader-logo span{

color:#D4AF37;

}

.loader-line{

margin-top:40px;

width:260px;

height:3px;

background:#143927;

overflow:hidden;

border-radius:30px;

}

.loader-progress{

width:0;

height:100%;

background:#D4AF37;

animation:load 2s linear forwards;

}

@keyframes load{

100%{

width:100%;

}

}

@keyframes fadeOut{

to{

opacity:0;

visibility:hidden;

}

}
